# Next.js
/.next/
/out/
/node_modules/

# Production
.env*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local development
*.local

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# System Files
Thumbs.db